@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Montserrat:wght@100&display=swap');

/* RESET CSS */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #181719;
    height: 100vh;
    margin: 50px;
}


header, section, main{
    color: #FFFFFF;
}

.logo {
    padding-top: 6px;
    padding-left: 6px;
    border: 1px solid white;
    width: 102px;
    height: 32px;
    font-family: Crimson Pro;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

/* MENU */
.nav {
    display: flex;
}

.liste-items {
    display: flex;
    list-style: none;
    color: #FFFFFF;
}

.items {
    cursor: pointer;
    margin: 0 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.items:nth-child(1){
    font-weight: bold;
}

/* SECTION */
section {
    display: flex;
    justify-content: space-between;
}

/* BLOCK-LEFT */
/* .block-left {
    display: flex;
    flex-direction: column;
} */

.title {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 61px;
}

.p-infos {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.read {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

/* IMAGE+CARD */
.image img {
    width: 821px;
    height: 587;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.card {
    position: absolute;
    display: flex;
    align-self: flex-end;
    /* background: #181719; */
    background-color: seagreen;
    width: 410px;
    height: 189px;
}

.card img {
    width: 85px;
    height: 72px;
    border-radius: 50%;
}

.head-card {
    display: flex;
}

.head-card h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.head-card h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.card-info {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}
    
footer {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
}
