* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2.85rem 5.5rem;
}

.header {
    align-self: flex-start;
}

.header .h1-top{
    font-family: "Inconsolata", sans-serif;
    font-weight: bold;
    font-size: 24px
}

.image img{
    width: 539px;
    height: auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.elements-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Space Mono", sans-serif;
    width: 586px;
    margin-left: 7em;
}

.h1-center {
    font-size: 64px;
    line-height: 95px;
    color: #333333;
}

.text {
    font-weight: normal;
    font-size: 24px;
    max-width: 381px;
    line-height: 36px;
    color: #4F4F4F;
    padding: 2.57rem 0 4.57rem 0;
}

.back-button {
    height: 68px;
    width: max-content;
    text-transform: uppercase;
    font-weight: bold;
    background: #333333;
    color: #FFFFFF;
    padding: 1.5em 3em;
    transition: background-color .1s;
}

.back-button:hover {
    background-color: #4F4F4F;
}

.footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: black;
}

.footer:hover {
    text-decoration: underline;
}

/* ADJUST FOR SMALLER DESKTOP */
@media screen and (max-width: 1280px) {
    .center {
        transform: scale(.7);
    }
}

/* Mobile */
@media screen and (max-width: 720px)
{
    body {
        padding: 1.42rem 1.71rem;
    }
    

    .center {
        transform: scale(1);
        flex-direction: column;
    }

    .image {
        margin: 5rem 0 5rem 0;
    }

    .image img{
        width: 286px;
    }    

    .center {
        margin-bottom: 7rem;
    }

    .elements-center {
        margin-left: 0;
        width: 100%;
    }

    .text {
        font-size: 18px;
        line-height: 27px;
        padding: 2rem 0 4.78rem 0;
    }
    .h1-center {
        font-size: 44px;
        line-height: 71px; 
    }
}